.start {
    text-align: center;
    width: 50%;
    border: solid black 2px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.timer {
    text-align: right;
    border: solid black 2px;
    margin-left: auto;
    width: 150px;
    padding: 5px;
}

.right {
    font-style: italic;
}

.wrong {
font-style: italic;
}

.highscore {
    text-align: center;
    border: solid black 2px;
    width: 50%;
    margin: 0 auto;
}